/* adding style to the style.css file according to the design provided in 02.png  */
:root {
  --clr-neon: hsl(187, 80%, 51%);
  --clr-bg: hsl (322 21% 16%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.header {
  padding: 0 120px;

  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.odin-project {
  background-color: #1f2937;
  padding: 0 120px;
  color: #f9faf8;
  min-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}
h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 1000;
  max-width: 400px;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 400px;
}
.hero {
  background-color: #1f2937;

  padding: 0 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.left {
  margin-right: 200px;
}
.image {
  max-height: 20em;
  max-width: 40em;
  border-radius: 3em;
  box-shadow: 0 0 1em 0.2em var(--clr-neon);
}
.img {
  margin: 50px 0 50px 100px;
}
.container {
  padding: 0 120px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25em;
}
.container h2 {
  flex-shrink: 0;
}
.info-img {
  display: flex;
  justify-content: center;
  gap: 5em;
  position: relative;
}
.subtext {
  max-width: 150px;
  display: flex;
  flex-wrap: wrap;
}
.pic img {
  max-width: 150px;
  border-radius: 4em;
  box-shadow: 0 0 2em 0.2em var(--clr-neon);
  position: absolute;
  top: -250px;
}
.pic {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
}
.quote {
  min-height: 250px;
  padding: 25px 120px;

  background-color: #e5e7eb;
  color: #1f2937;
}
blockquote {
  text-align: left;
}
.quote p {
  font-size: 36px;
  font-style: italic;
}
.author p {
  text-align: right;
  font-size: 20px;
  font-weight: 700;
}
.contact {
  color: #f9faf8;

  margin: 7em;
  border-radius: 1em;
  background-color: hsl(215, 80%, 51%);
  display: flex;

  align-items: center;
  justify-content: space-around;
  min-height: 10em;
}
.contact-header {
  font-size: 20px;
  font-weight: 600;
}
.neon-btn {
  z-index: 1;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: rgb(245, 231, 231);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.125em 0.5em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0, 0%, 100% / 0.5), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}

.neon-btn::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background-color: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg);
  scale: (1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}

.neon-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}
.neon-btn:hover,
.neon-btn:focus {
  background-color: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}
.neon-btn:hover::after {
  opacity: 1;
}
a {
  text-decoration: none;
  font-size: 19px;
  color: #f9faf8;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  margin: 0 10px;
  z-index: 1;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: rgb(245, 231, 231);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.125em 0.5em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0, 0%, 100% / 0.5), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}
